APP_ENV=development
PORT=4000
JWT_SECRET=chapersons-local-dev-secret-change-me
ADMIN_EMAIL=admin@chapersons.local
ADMIN_PASSWORD=admin123

# Local
DB_NAME_DEV=fdp_db
DB_USER_DEV=fdp_user
DB_PASSWORD_DEV=fdp_user@2026
DB_HOST_DEV=localhost
DB_PORT_DEV=5432
DB_SCHEMA_DEV=fdp_schema

# UAT  (NODE_ENV=test)
DB_NAME_TEST=fdp_uat_db
DB_USER_TEST=fdp_uat_user
DB_PASSWORD_TEST=fdp_uat@2026
DB_HOST_TEST=localhost
DB_PORT_TEST=5432
DB_SCHEMA_TEST=fdp_uat_schema

# Production  (NODE_ENV=production)
DB_NAME_PROD=fdp_prod_db
DB_USER_PROD=fdp_prod_user
DB_PASSWORD_PROD=fdp_prod@2026
DB_HOST_PROD=localhost
DB_PORT_PROD=5432
DB_SCHEMA_PROD=fdp_prod_schema
